// Import page-specific CSS files here.
@import "home";

.banner {
  background-size: cover;
  background-position: bottom;
  border-radius: 8px;
  padding: 150px 0;
  margin-bottom: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
ul {
  list-style-type: none;
}

.list {
  border-radius: 10px;
  background-color: #D1D1E9;
  padding-bottom: 30px;
}

a {
  color: #0C163B;
  text-decoration: none;
}

.info {
  padding-left: 10px;
}
