@import "home";

.new {
  border-radius: 10px;
  background-color: #D1D1E9;
  padding-bottom: 30px;
}

.back {
  margin-left: 195px;
  margin-top: 30px;
  color: whitesmoke;
  border-radius: 50px;
  background-color: #E45858;
  text-align: center;
  height: 40px;
  width: 100px;
  padding-top: 8px;
}
